<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>TFL Road Status Checker</title>
</head>
<body>
 <div class="container">
     <h1>Road Lookup</h1>
     <div class="container">
         <div class="row">
             <form class="col s12" th:action="@{/checkStatus}" id="roadStatusForm">
                 <div class="row">
                     <div class="input-field col s6">
                         <input id="road" type="text" class="validate" name="road">
                         <label for="road">Road</label>
                     </div>
                     <div class="input-field col s6">
                         <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                             <i class="material-icons right">send</i>
                         </button>
                     </div>
                 </div>

             </form>
         </div>
     </div>
 </div>

 <div class="container" th:if="${error != null}">
     <p style="color:red">[[${error}]]</p>
 </div>
 <div class="container" th:if="${roadStatus != null && roadStatus.displayName != null}">
     <h1>Road Info</h1>
     <table class="responsive-table centered">
         <thead>
         <tr>
             <th>Name</th>
             <th>Road Status</th>
             <th>Road Status Description</th>
         </tr>
         </thead>

         <tbody>
         <tr>
             <td>[[${roadStatus.displayName}]]</td>
             <td>[[${roadStatus.statusSeverity}]]</td>
             <td>[[${roadStatus.statusSeverityDescription}]]</td>
         </tr>
         </tbody>
     </table>
 </div>

 <div class="container" th:if="${roadStatus != null && roadStatus.message != null}">
     <h3>Problem Retrieving Road Info</h3>
     <table class="responsive-table centered">
         <thead>
         <tr>
             <th>Error</th>
         </tr>
         </thead>

         <tbody>
         <tr>
             <td>[[${roadStatus.message}]]</td>
         </tr>
         </tbody>
     </table>
 </div>
</body>
</html>